.list-of-input-methods {
    border: 2px solid blue;
    width: inherit;
}

.ra-dec-list {
    list-style-position: inside;
    list-style-type: decimal;
    padding-top: 5px;
    padding-bottom: 5px;
    display: grid;
}
